Indica cuantos estudiantes formaron parte del estudio de deporte

Indica cuantos individuos son hombres y cuantos son mujeres

Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

In [98]:
import pandas as pd

df = pd.read_csv("run.csv", delimiter=",", decimal=".", encoding="utf-8")
df2= df.rename( columns={"Unnamed: 0": "Estudiantes"})
df2.shape

(92, 9)

In [91]:
df3 = df2.groupby('genero').count()
df3.Estudiantes

genero
H    57
M    35
Name: Estudiantes, dtype: int64

In [109]:
df2.groupby('hace.deporte').aggregate({
    'pulso.antes': 'mean',
    'pulso.despues': 'mean'
})
#la diferencia en el porcentaje en el pulso despues de los estudiantes que sí hacen deporte,
#es significativa.

              pulso.antes  pulso.despues
hace.deporte
no              72.421053      72.315789
si              73.600000      92.514286

In [130]:
df2.groupby(['hace.deporte','genero']).aggregate({
    'pulso.antes': 'mean',
    'pulso.despues': 'mean'
    })
#duda: como fitrar con una funcion (hace.deporte == si)

                     pulso.antes  pulso.despues
hace.deporte genero
no           H         70.545455      70.545455
             M         75.000000      74.750000
si           H         70.250000      83.208333
             M         80.909091     112.818182

In [131]:
df2.groupby(['hace.deporte','fuma']).aggregate({
    'pulso.antes': 'mean',
    'pulso.despues': 'mean'
    })
#duda : #duda: como fitrar con una funcion (hace.deporte == no)

                   pulso.antes  pulso.despues
hace.deporte fuma
no           no      71.707317      71.512195
             si      74.250000      74.375000
si           no      72.347826      93.695652
             si      76.000000      90.250000

In [133]:
df2.groupby(['tipo.actividad']).aggregate({
    'pulso.antes': 'mean',
    'pulso.despues': 'mean'
    })
#el mayor aumento se produce en la actividad moderada

                pulso.antes  pulso.despues
tipo.actividad
intensa           71.571429      72.190476
moderada          72.737705      82.786885
nula              48.000000      54.000000
suave             79.555556      82.222222