# carga de un fichero csv

In [26]:
%config IPCompleter.greedy=True
import pandas as pd
import numpy as np
import os

In [26]:
data = pd.read_csv('datasets/titanic/titanic3.csv')
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [39]:
mainpath = '/Users/DUYGU/Desktop/DAVİD/GitHub/python-ml-course/datasets'
filename = 'iris/iris.csv'
fullpath = mainpath + '/' + filename
data2 = pd.read_csv(fullpath, engine='python')
data2.head()
data2.columns.values

array(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'], dtype=object)

In [40]:
mainpath = '/Users/DUYGU/Desktop/DAVİD/GitHub/python-ml-course/datasets'
filename = 'customer-churn-model/Customer Churn Model.txt'
fullpath = os.path.join(mainpath, filename)
data3 = pd.read_csv(fullpath, engine='python')
data3.head()
data3.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

# Carga datos con función Open

In [36]:
#no funciona fullpath con la función OPEN
#SE TIENE QUE HACER CON UN FICHERO .TXT ?
mainpath = '/Users/DUYGU/Desktop/DAVİD/GitHub/python-ml-course/datasets'
filename = 'wine/winequality-red.csv'
fullpath = os.path.join(mainpath, filename)
print(fullpath)
data4 = open(fullpath,'r')
cols = data4.readline().strip().split(",")
n_cols = len(cols)
print(n_cols)
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []
for line in data4:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print("El dataset tiene %d filas y %d columnas"%(counter, n_cols))

/Users/DUYGU/Desktop/DAVİD/GitHub/python-ml-course/datasets\wine/winequality-red.csv
1
El dataset tiene 0 filas y 1 columnas

# Lectura y escritura de ficheros

In [29]:
#no funciona fullpath con la función OPEN
#SE TIENE QUE HACER CON UN FICHERO .TXT ?
mainpath = '/Users/DUYGU/Desktop/DAVİD/GitHub/python-ml-course/datasets'
filename = 'wine/winequality-red.csv'
fullpath = os.path.join(mainpath, filename)
infile = fullpath
outfile = fullpath
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(";")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")
df = pd.read_csv(outfile, sep = ",")
df.head()

OSError: Initializing from file failed

# Leer datos desde una URL

In [32]:
medals_url = "http://winterolympicsmedals.com/medals.csv"
m_data = pd.read_csv(medals_url)
m_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold