# concatenar y apendizar datasets

In [2]:
import pandas as pd
vino_tinto = pd.read_csv('datasets/wine/winequality-red.csv', sep=';')
vino_tinto.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
vino_tinto.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [8]:
vino_tinto.shape

(1599, 12)

In [9]:
vino_blanco = pd.read_csv('datasets/wine/winequality-white.csv', sep=';')
vino_blanco.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [12]:
vino_blanco.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [13]:
vino_blanco.shape

(4898, 12)

In [14]:
data_vino = pd.concat([vino_tinto,vino_blanco], axis=0)

In [15]:
data_vino.shape

(6497, 12)

In [16]:
data_vino.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

# concatenar datos distribuidos

In [20]:
rutafich = 'datasets/distributed-data/'
datos = pd.read_csv('datasets/distributed-data/001.csv')

for i in range(2,333):
    if i<10:
        n_fich = '00'+str(i)
    if 10<=i<100:
        n_fich = '0'+str(i)
    if i>=100:
        n_fich = str(i)
    
    fich = rutafich + n_fich + '.csv'
    temp_datos = pd.read_csv(fich)
    datos = pd.concat([datos,temp_datos], axis=0)

In [21]:
datos.shape

(772087, 4)

In [22]:
datos.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

# joins de datos

In [26]:
rutafich = 'datasets/athletes/'
data = pd.read_csv(rutafich + 'Medals.csv', engine='python')
data.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6
4,Aleksey Nemov,24.0,2000,10/01/2000,2,1,3,6

In [30]:
a = data['Athlete'].unique().tolist()
len(a)

6956

In [29]:
data.shape

(8618, 8)

In [32]:
data_country = pd.read_csv(rutafich + 'Athelete_Country_Map.csv', engine='python')
data_country.head()

            Athlete        Country
0    Michael Phelps  United States
1  Natalie Coughlin  United States
2     Aleksey Nemov         Russia
3     Alicia Coutts      Australia
4    Missy Franklin  United States

In [33]:
data_country.shape

(6970, 2)

In [34]:
data_sports = pd.read_csv(rutafich + 'Athelete_Sports_Map.csv', engine='python')
data_sports.head()

            Athlete       Sport
0    Michael Phelps    Swimming
1  Natalie Coughlin    Swimming
2     Aleksey Nemov  Gymnastics
3     Alicia Coutts    Swimming
4    Missy Franklin    Swimming

In [35]:
data_sports.shape

(6975, 2)